@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

.shapka
{ background-color: #A52A2A;
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
}

.cars
{
text-align: center;
}

.text2 span { color: blue; }
footer {
    background-color: black;
    color: white;
    text-align: center;
}

.urod {border-style: dotted;}